@import './shared';

.cardface {
    @include fullyabsolute();
    @include edgeGradient();
    backface-visibility: hidden;
    bottom: 100px;
}

.cardContent {
    @include fullyabsolute(3px);
    padding: 1em;
    backface-visibility: hidden;
    overflow: auto;
    // Old browsers
    background: #253b48;
    // Main style
    background: linear-gradient(45deg, #253b48 0%,#20203e 50%,#312051 100%);
    // IE6-9 fallback on horizontal gradient
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#253b48', endColorstr='#312051',GradientType=1 );
}

.cardside {
    @include fullyabsolute();
    @include edgeGradient();
    margin: auto;
    width: 8px;
    bottom: 100px;
    overflow: auto;
}

.shadow {
    width: 100%;
    position: absolute;
    background-color: black;
    border-radius: 50px;
    opacity: 0.4;
    transform-origin: center;
}

.content {
    @include fullyabsolute();
    transform-style: preserve-3d;
    perspective-origin: 50% 40%;
    perspective: 2000px;
}
