@mixin fullyabsolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.swipeHandler {
    margin: auto;
    @include fullyabsolute();
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

.card {
    @include fullyabsolute();
    bottom: 100px;
    background: #253b48; /* Old browsers */
    background: linear-gradient(45deg, #253b48 0%,#20203e 50%,#312051 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#253b48', endColorstr='#312051',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.col {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95vh * ( 9vh / 16vh );
}

.row {
    max-height: 100%;
    position: relative;
}

.fix {
    width: 100%;
    pointer-events: none;
}

.content {
    @include fullyabsolute();
    transform-style: preserve-3d;
    perspective: 2000px;
}
