.brand {
  letter-spacing: 0.3rem;
  padding: 0;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
    background: none;
  }

  &:focus {
    outline: 0;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}
