@import '../../../../styles/mixins';

.brand {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.2rem;

  @include interactive(0.2rem);
}

.wide {
  letter-spacing: 0.3rem;
}
