@import '../../../../styles/base';
@import '../../../../styles/mixins';

html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  font-size: 88%;
  height: 100%;
  color: #45434f;
}

button {
  font-family: 'Poppins', sans-serif;
}

a {
  @include interactive;
  text-decoration: none;
  color: #45434f;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
