.container {
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.cls-1 {
  fill: url(#linear-gradient);
}
.cls-2 {
  fill: url(#linear-gradient-2);
}
.cls-3 {
  fill: url(#linear-gradient-3);
}
.cls-4 {
  fill: url(#linear-gradient-4);
}
.cls-5 {
  fill: url(#linear-gradient-5);
}
.cls-6 {
  fill: url(#linear-gradient-6);
}
.cls-7 {
  fill: url(#linear-gradient-7);
}
