script(type='text/template', name='sourceTemplate')
    span#github
        a(href='https://github.com/${source.owner}/${source.repo}', target='_blank') view on github
    .source-container
        pre
            code
