{
    "parser": "babel-eslint",
    "extends": "brinkbit",
    "globals": {
        "__DEV__": false,
        "__TEST__": false,
        "__PROD__": false,
        "__COVERAGE__": false
    },
    "rules": {
        "react/jsx-indent-props": [2, 4],
    }
}
