.cls-1 {
  fill: none;
}
.cls-2 {
  font-size: 13.55px;
  fill: #fe5168;
  font-family: LovedbytheKing, Loved by the King;
  letter-spacing: 0.08em;
}
.cls-3 {
  letter-spacing: 0.08em;
}
.cls-4 {
  fill: url(#h2-linear-gradient);
}
.cls-5 {
  fill: url(#h2-linear-gradient-2);
}
.cls-6 {
  fill: url(#h2-linear-gradient-3);
}
.cls-7 {
  fill: url(#h2-linear-gradient-4);
}
.cls-8 {
  fill: url(#h2-linear-gradient-5);
}
.cls-9 {
  fill: url(#h2-linear-gradient-6);
}
.cls-10 {
  fill: url(#h2-linear-gradient-7);
}
