script(type='text/template', name='aboutTemplate')
    #header
        h1 Justin Livi
    #body
        #details
            h2 Software Engineer and UI/UX Designer
            h3 Links
            ul
                li
                    a(href='https://github.com/JustinLivi') Github
                li
                    a(href='https://www.npmjs.com/~justinlivi') NPM
                li
                    a(href='https://www.linkedin.com/in/justinlivi') LinkedIn
                li
                    a(href='https://twitter.com/justinlivi') Twitter
                li
                    a(href='mailto:justi@brinkbit.com') Email
            h3 Work Experience
            ul
                li
                    h4 CTO and Co-founder
                    p Brinkbit
                    p August 2013 - Present
                li
                    h4 Software Engineer
                    p AOL
                    p October 2015 - December 2016
                li
                    h4 Developer
                    p Millennial Media
                    p May 2014 - October 2015
            h3 Clients
            p Worked with 60 of top 100 brands including:
            ul
                li Google
                li Microsoft
                li Toyota
                li IBM
                li Samsung
            h3 Talks
            ul
                li Brinkit Cloud Platform - GDG Baltimore (November 2016)
                li The State of Mobile - AOL (September 2016)
                li HTML5 Games - Fullstack Academy of Code (October 2015)
            h3 Education
            ul
                li
                    h4 MICA
                    p Summa Cum Laude
                    p 3.94 GPA
                    p 2011 - 2013
                li
                    h4 CCBC
                    p Summa Cum Laude
                    p 3.93 GPA
                    p 2009 - 2011
    #footer
        include footer.pug
