doctype html
html(lang='en-us')
    head
        meta(name='description', content='Justin Livi - Art and Engineering')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='mobile-web-app-capable', content='yes')
        link(rel='stylesheet', href='/index.min.css')
    body
        div(name='root')
        include app/index.pug
        include about.pug
        script(type='text/javascript', src='/index.min.js')
