.breadCrumbs {
  padding: 0;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
}

.breadCrumbsList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadCrumbsElement {
  display: inline;
  padding-right: 0.5rem;

  &:before {
    content: '/';
    padding-right: 0.5rem;
  }
}
