@import '../../../../styles/mixins';

.breadCrumbs {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 1rem;

  @include interactive;
}

.breadCrumbsList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadCrumbsElement {
  display: inline;
  padding-right: 0.5rem;

  &:last-child {
    padding-right: 0;
  }

  &:before {
    content: '/';
    padding-right: 0.5rem;
  }
}
