.spark-logo {
  .red {
    fill: #9a9a9a;
    transition: fill 0.4s ease;
  }

  .yellow {
    fill: #d2d2d2;
    transition: fill 0.4s ease;
  }

  .orange {
    fill: #bcbcbc;
    transition: fill 0.4s ease;
  }

  &:hover {
    .red {
      fill: #9a3322;
    }

    .yellow {
      fill: #d2892d;
    }

    .orange {
      fill: #bc4729;
    }
  }
}
