.invertedBackground {
  fill: #fe5168;
}

.invertedLogo {
  fill: white;
}

.cls-1 {
  fill: #fff;
}
.cls-2 {
  fill: url(#h-linear-gradient);
}
.cls-3 {
  fill: url(#h-linear-gradient-2);
}
.cls-4 {
  fill: url(#h-linear-gradient-3);
}
.cls-5 {
  fill: url(#h-linear-gradient-4);
}
.cls-6 {
  fill: url(#h-linear-gradient-5);
}
.cls-7 {
  fill: url(#h-linear-gradient-6);
}
.cls-8 {
  fill: url(#h-linear-gradient-7);
}
