@mixin interactive($width: 0.1rem) {
  text-decoration: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: border-bottom-color 300ms;
  border: 0;
  border-bottom-width: $width;
  border-bottom-color: rgba(#45434f, 0);
  border-bottom-style: solid;
  margin-bottom: -$width;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background: none;
  }

  &:focus,
  &:hover {
    transition: border-bottom-color 200ms;
    border-bottom-color: rgba(#45434f, 0.8);
  }

  &:active {
    transition: border-bottom-color 100ms;
    border-bottom-color: rgba(#45434f, 1);
    outline: none;
  }

  &[disabled] {
    cursor: initial;
    color: inherit;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: none;
      border-bottom-color: rgba(#45434f, 0);
    }

    &:active {
      border-bottom-color: rgba(#45434f, 0);
      outline: none;
    }
  }
}
