@import 'base';

html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  font-size: 88%;
  height: 100%;
  color: #45434f;
  a {
    color: #45434f;
  }
}

main {
  padding: 2.5rem;
}

button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
