@import 'base';
// @import 'node_modules/bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 88%;
  height: 100%;
  color: #45434f;
  a {
    color: #45434f;
  }
}

button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
