.container.brinkbit-logo {
  width: 16%;
}

.container.spark-logo {
  width: 20%;
}

.container {
  cursor: pointer;
  margin: auto;
  margin-top: 17%;

  .logo {
    transition: fill 0.4s ease;
  }

  .brinkbit-logo-blue {
    fill: #ccc;
  }
  .spark-logo-red {
    fill: #9a9a9a;
  }
  .spark-logo-yellow {
    fill: #d2d2d2;
  }
  .spark-logo-orange {
    fill: #bcbcbc;
  }
}

.container:hover {
  .brinkbit-logo-blue {
    fill: #60aecc;
  }
  .spark-logo-red {
    fill: #9a3322;
  }
  .spark-logo-yellow {
    fill: #d2892d;
  }
  .spark-logo-orange {
    fill: #bc4729;
  }
}
