.container.brinkbit-logo {
    width: 16%;
}

.container.spark-logo {
    width: 20%;
}

.container.pf-logo {
    width: 22%;
}

.container {
    cursor: pointer;
    margin: auto;
    margin-top: 17%;

    .logo {
        transition: fill .4s ease;
    }

    .brinkbit-logo-blue {
        fill: #ccc;
    }
    .spark-logo-red {
        fill: #9a9a9a;
    }
    .spark-logo-yellow {
        fill: #d2d2d2;
    }
    .spark-logo-orange {
        fill: #bcbcbc;
    }
    .pf-yellow-bright {
        fill: #fafafa;
    }
    .pf-yellow-dark {
        fill: #b8b8b8;
    }
    .pf-red-bright {
        fill: #e7e7e7;
    }
    .pf-red-dark {
        fill: #a5a5a5;
    }
    .pf-blue-bright {
        fill: #d2d2d2;
    }
    .pf-blue-dark {
        fill: #919191;
    }
}

.container:hover {
    .brinkbit-logo-blue {
        fill: #60aecc;
    }
    .spark-logo-red {
        fill: #9a3322;
    }
    .spark-logo-yellow {
        fill: #d2892d;
    }
    .spark-logo-orange {
        fill: #bc4729;
    }
    .pf-yellow-bright {
        fill: #fabc4a;
    }
    .pf-yellow-dark {
        fill: #b88b34;
    }
    .pf-red-bright {
        fill: #e74a4b;
    }
    .pf-red-dark {
        fill: #a53635;
    }
    .pf-blue-bright {
        fill: #00b2d2;
    }
    .pf-blue-dark {
        fill: #017c91;
    }
}
