@mixin fullyabsolute($inset: 0) {
    position: absolute;
    top: $inset;
    right: $inset;
    bottom: $inset;
    left: $inset;
}

@mixin edgeGradient {
    // Old browsers
    background: #99769b; /* Old browsers */
    // Main style
    background: linear-gradient(to bottom, #99769b 0%,#b5a7b0 2%,#9f75a0 4%,#9f75a0 4%,#20203e 45%,#384557 55%,#2b2e4b 61%,#829fae 73%,#253b48 96%,#253b48 100%);
    // IE6-9 fallback
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99769b', endColorstr='#253b48',GradientType=0 );
}

.swipeHandler {
    margin: auto;
    user-select: none;
    @include fullyabsolute();
    cursor: ew-resize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 700px;
    background: rgba(0,0,0,0);
}

.fullHeight {
    position: relative;
}
