.thumb {
  cursor: pointer;

  .background {
    fill: #f7f7f7;
  }

  .primary {
    fill: #c4c4c4;
    transition: fill 0.4s ease;
  }

  &:hover {
    .primary {
      fill: #fe5168;
      transition: fill 0.4s ease;
    }
  }
}
