@import '../../style.scss';

.page {
  h1 {
    text-align: right;
  }

  .subheader {
    margin-top: 7vh;
    text-align: right;
  }

  li {
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 200;
    letter-spacing: 0.3vh;
    list-style-type: none;
    line-height: 3.4vh;
    a:hover {
      color: white;
    }
  }
}
