.cls-1 {
  fill: #fff;
}
.cls-2 {
  fill: url(#grey-linear-gradient);
}
.cls-3 {
  fill: url(#grey-linear-gradient-2);
}
.cls-4 {
  fill: url(#grey-linear-gradient-3);
}
.cls-5 {
  fill: url(#grey-linear-gradient-4);
}
.cls-6 {
  fill: url(#grey-linear-gradient-5);
}
.cls-7 {
  fill: url(#grey-linear-gradient-6);
}
.cls-8 {
  fill: url(#grey-linear-gradient-7);
}
.cls-9 {
  fill: url(#grey-linear-gradient-8);
}
.cls-10 {
  fill: url(#grey-linear-gradient-9);
}
.cls-11 {
  fill: url(#grey-linear-gradient-10);
}
.cls-12 {
  fill: url(#grey-linear-gradient-11);
}
.cls-13 {
  fill: url(#grey-linear-gradient-12);
}
.cls-14 {
  fill: url(#grey-linear-gradient-13);
}
.cls-15 {
  fill: url(#grey-linear-gradient-14);
}
.cls-16 {
  fill: url(#grey-linear-gradient-15);
}
.cls-17 {
  fill: url(#grey-linear-gradient-16);
}
.cls-18 {
  fill: url(#grey-linear-gradient-17);
}
