.pip {
    fill: none;
    stroke: white;
}

.pipContainer {
    width: 12%;
    background: none;
    border: none;
    cursor: pointer;
}

.pipContainer:focus {
    outline: 1px dotted white;
}

.pipGroup {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
